body {
	font-family: Helvetica;
}

header {
	position:fixed;
	top: 10px;
	left: 10px;
	right:10px;
	text-align: center;
	pointer-events: none;
}

footer {
	position:fixed;
	bottom:4px;
	left:4px;
}

.clicker {
	user-select: none;
}

main {
	position: fixed;
	top: 120px;
	bottom:30px;
	left: 30px;
	right: 30px;
	text-align:center;
}
